@import url("css/hack.min.css");
@import url("css/hack-extended.min.css");
/* latin-ext */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../woff2/SourceSerifPro-Ext.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/woff2/SourceSerifPro-Reg.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  /* Dark Blue Theme*/
  --col-background: #000010;
  --col-foreground: #c0c0d0;
  --col-header: #c0c0d0;
  --col-border: #007000;
  --col-tableHeader: #000040;
  --col-selectedTab: #000050;
  --col-background-blockquote: #0000A0;
  --col-border-blockquote: #A0A0FF;
  --col-link: #A0A0FF;
  --col-link-visited: #7070FF;
  --col-link-hover: #FFFFFF;
  --col-definition-capsule-background: #000030FF;
  --col-definition-capsule-border-left: #0070A0;
  --col-definition-capsule-term-background: #0070A0FF;
  --col-definition-capsule-title-details-background: #0070A070;
  --col-tab-hover: #FFFFFF;
  --col-summary-hover: #FFFFFF;
  --col-code-background: #00004000;
  --col-code-foreground: #FFFF00;
  --col-code-border: #700000;
  --col-kbd: #C0D0C0;
  --col-unknown-background: #501010;

   /* For an unknown reason, the fill color in the variable "--svg-dot" must be a named color and not a hex number */
  --svg-dot: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><circle cx="5" cy="4" r="1" fill="silver" /></svg>');

  /* Dark Green Theme*/
  /*
  --col-background: #001000;
  --col-foreground: #d0d0d0;
  --col-header: #c0d0c0;
  --col-border: #c0d0c0;
  --col-tableHeader: #004000;
  --col-selectedTab: #005000;
  --col-background-blockquote: #004000;
  --col-border-blockquote: #A0FFA0;
  --col-link: #30FF30;
  --col-link-visited: #70FF70;
  --col-link-hover: #FFFFFF;
  --col-definition-capsule-background: #002000FF;
  --col-definition-capsule-border-left: #00A070;
  --col-definition-capsule-term-background: #007030FF;
  --col-definition-capsule-title-details-background: #00A07070;
  --col-tab-hover: #FFFFFF;
  --col-summary-hover: #FFFFFF;
  --col-code-background: #003000;
  --col-code-foreground: #FFFF00;
  --col-code-border: #700000;
  --col-kbd: #C0D0C0;
  --col-unknown-background: #501010;
  */

  /* Light Gray Theme*/
  /*
  --col-background: #E0E0F0;
  --col-foreground: #000000;
  --col-header: #000000;
  --col-border: #000000;
  --col-tableHeader: #AAAAFF;
  --col-selectedTab: #B0B0B0;
  --col-background-blockquote: #A0A0D0;
  --col-border-blockquote: #404080;
  --col-link: #000010;
  --col-link-visited: #505050;
  --col-link-hover: #3030FF;
  --col-definition-capsule-background: #A0A0D0;
  --col-definition-capsule-border-left: #404080;
  --col-definition-capsule-term-background: #8080B0;
  --col-definition-capsule-title-details-background: #8080B0;
  --col-tab-hover: #FFFFFF;
  --col-summary-hover: #FFFFFF;
  --col-code-background: #D0D0D0;
  --col-code-foreground: #000040;
  --col-code-border: #4040A0;
  --col-kbd: #202030;
  --col-unknown-background: #FF9090;
  */

  /* Light Blue Theme*/
  /* Note: This theme needs an update */
  /*
  --col-background: #D3EAFC;
  --col-foreground: #000000;
  --col-header: #2196F3;
  --col-border: #2196F3;
  --col-tableHeader: #9dcdf3;
  --col-selectedTab: #53a4e4;
  --col-background-blockquote: #A0A0FF;
  --col-border-blockquote: #000000;
  --col-link: #000010;
  --col-link-visited: #707070;
  --col-link-hover: #3030FF;
  --col-definition-capsule-background: #A0A0D0;
  --col-definition-capsule-border-left: #404080;
  --col-definition-capsule-term-background: #8080B0;
  --col-definition-capsule-title-details-background: #8080B0;
  --col-tab-hover: #FFFFFF;
  --col-summary-hover: #FFFFFF;
  --col-code-background: #2196F3;
  --col-code-foreground: #FFFF00;
  --col-code-border: #0000A0;
  --col-kbd: #202030;
  --col-unknown-background: #FF9090;
  */
}

body {
    background: var(--col-background);
    color: var(--col-foreground);
    font-family: "Roboto", "Source Serif Pro", serif;
	font-size: 16px;
}
a:link {
    color: var(--col-link);
    text-decoration: underline;
}
a:visited {
    color: var(--col-link-visited);
    text-decoration: underline;
}
a:hover {
    color: var(--col-link-hover);
    text-decoration: underline;
}
blockquote {
	font-style: italic;
    background: linear-gradient(to right, var(--col-background-blockquote), transparent 90%);
    border-left: 4px solid var(--col-border-blockquote);
    border-radius: 1em;
    padding: .5em 0em .5em .7em;
    margin: 1em 0em 1em 0em;
}
.docTitle {
	color: var(--col-header);
	text-align: center;
	font-size: 3em;
	text-decoration: underline;
	font-weight: bold;
}
h1 { text-align:center; text-decoration: underline; font-size:2.5em; color: var(--col-header);}
h2 { text-decoration:underline; font-size:2.0em; color: var(--col-header);}
h3 { text-decoration:underline; font-style:italic; font-size:1.5em; color: var(--col-header);}
h4 { text-decoration:underline; font-weight: bold; font-size:1.25em; color: var(--col-header);}
h5 { text-decoration:underline; font-weight: bold; font-size:1.25em; color: var(--col-header);}
h6 { text-decoration:underline; font-weight: bold; font-size:1.25em; color: var(--col-header);}
code {
	font-family: "Hack", Courier, monospace;
	font-size: 1.0em;
	background-color: var(--col-code-background);
	color: var(--col-code-foreground);
	padding: 0.1em 0.1em;
	margin: 0.1em;
	border-width: 0em 0.3em 0em 0.3em;
    border-style: solid;
    border-color: var(--col-code-border);
	border-radius: 0.3em;
}
.code {
	font-family: "Hack", Courier, monospace;
	font-size: 1.0em;
    background-color: var(--col-code-background);
	color: var(--col-code-foreground);
	padding: 0.1em 0.1em;
	margin: 0.1em;
	border-width: 0.3em 0.3em 0.3em 0.3em;
    border-style: solid;
    border-color: var(--col-code-border);
	border-radius: 0.3em;
}
kbd {
  font-family: "Hack", monospace;
	border: 1px solid var(--col-kbd);
	border-radius: 4px;
	padding: 3px 6px;
	font-size: 0.8rem;
  border-bottom: 3px solid var(--col-kbd);
}
p {
  /*
  margin: 0em;
  text-indent: 2em;
  */
  margin: 1em 0em 0em 0em;
  text-indent: 0em;
}
p:first-child {
    margin: 0em 0em 0em 0em;
}
p:last-child {
    margin: 1em 0em 0em 0em;
}
p:only-child {
  margin: 0em 0em 0em 0em;
}
ul, ol {
  margin: 0em;
}

p.asInline {
  display: inline-block;
  background-color: yellow;
  color: blue;
}
x-j1 {
  background-color: var(--col-background-blockquote);
  color: var(--col-foreground);
}
x-j2 {
  background-color: var(--col-foreground);
  color: var(--col-background-blockquote);
}
x-j3 {
  display: block;
}
x-j4 {
  display: inline-block;
  background-color: yellow;
  color: blue;
}


.definitionCapsule {
  background: linear-gradient(to right, var(--col-definition-capsule-background), transparent 90%);
  border-left: 4px solid var(--col-definition-capsule-border-left);
  border-radius: 1em;
  padding: 1em .5em 1em .7em;
  margin: 1em .5em 1em .5em;
}
.definitionCapsule .term {
  background: linear-gradient(to right, var(--col-definition-capsule-term-background), transparent 90%);
  padding: .3em;
  border-radius: .3em;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0em 0em 1em 0em;
}
.definitionCapsule .title {
  margin: 1em 0em 0em 1em;
  font-weight: bold;
}
.definitionCapsule .info {
  margin: 0em 0em 0em 2em;
}

.definitionCapsule .title .details {
  margin: 0em 0em 0em 0em;
  padding: .3em;
  border-radius: 1em;
  background-color: var(--col-definition-capsule-title-details-background);
  font-weight: bold;
  border: 1px solid white;
  border-radius: 0.3em;
  text-decoration: none;
}

.indent1 { margin-left: 2em; }
.indent2 { margin-left: 4em; }
.indent3 { margin-left: 6em; }
.indent4 { margin-left: 8em; }
.emphasize {
	font-weight: bold;
	font-style:italic;
}

.theTable7 {
	display: grid;
	margin: 1em;
	grid-gap: 0em;
	grid-template-rows: auto;
	grid-template-columns: auto auto auto auto auto auto auto;
	border: .5px solid var(--col-border);
}
.theTable7 > div {
	padding: 0.3em;
	border: .5px solid var(--col-border);
}
.theTable6 {
	display: grid;
	margin: 1em;
	grid-gap: 0em;
	grid-template-rows: auto;
	grid-template-columns: auto auto auto auto auto auto;
	border: .5px solid var(--col-border);
}
.theTable6 > div {
	padding: 0.3em;
	border: .5px solid var(--col-border);
}
.theTable5 {
	display: grid;
	margin: 1em;
	grid-gap: 0em;
	grid-template-rows: auto;
	grid-template-columns: auto auto auto auto auto;
	border: .5px solid var(--col-border);
}
.theTable5 > div {
	padding: 0.3em;
	border: .5px solid var(--col-border);
}
.theTable4 {
	display: grid;
	margin: 1em;
	grid-gap: 0em;
	grid-template-rows: auto;
	grid-template-columns: auto auto auto auto;
	border: .5px solid var(--col-border);
}
.theTable4 > div {
	padding: 0.3em;
	border: .5px solid var(--col-border);
}
.theTable3 {
	display: grid;
	margin: 1em;
	grid-gap: 0em;
	grid-template-rows: auto;
	grid-template-columns: auto auto auto;
	border: .5px solid var(--col-border);
}
.theTable3 > div {
	padding: 0.3em;
	border: .5px solid var(--col-border);
}
.theTable2 {
	display: grid;
	margin: 1em;
	grid-gap: 0em;
	grid-template-rows: auto;
	grid-template-columns: auto auto;
	border: .5px solid var(--col-border);
}
.theTable2 > div {
	padding: 0.3em;
	border: .5px solid var(--col-border);
}

.theBorder {
	padding: .2em;
	border: .5px solid var(--col-border);
}

.tableHeader1 {
	background-color: var(--col-tableHeader);
	font-weight: bold;
	text-align: center;
	font-size:1.5em;
	padding: .5em;
	border: .5px solid var(--col-border);
}
.tableHeader2 {
	background-color: var(--col-tableHeader);
	font-weight: bold;
	text-align: center;
	border: .5px solid var(--col-border);
	font-size:1.2em;
	padding: .3em;
}
.span2 {
	grid-column: span 2;
}
.span3 {
	grid-column: span 3;
}
.span4 {
	grid-column: span 4;
}
.span5 {
	grid-column: span 5;
}

.theTablePlacementTest {
	display: grid;
	margin: 1em;
	grid-gap: 0em;
	grid-template-rows: auto;
	grid-template-columns: auto auto auto;
	border: .5px solid var(--col-border);
}
.theTablePlacementTest > div {
  padding: 0.3em;
  border: .5px solid var(--col-border);
}
.theTablePlacementTestCellBorder {
	padding: 2em;
  background-color: #400000;
	border: .5px solid #FFFF00;
}

details[open] {
	/* Adjust the <details> padding while open */
	padding-bottom: .75rem;
}

details[open] summary {
	/* Adjust the <details> padding while open */
	margin-bottom: 6px;
}

summary:hover {
  cursor:default;
  color: var(--col-summary-hover);
}

details[open]>*:last-child {
	/* Resets the bottom margin of the last element in the <details> while <details> is opened. This prevents double margins/paddings. */
	margin-bottom: 0;
}

.tabContainer {
  display: grid;
  margin: 0em;
  padding: 0em;
  grid-gap: 0em;
	grid-template-rows: auto auto;
	grid-template-columns: auto;
}
.tabContainer .tabStrip {
	margin: 0em;
  /* Note: The bottom padding of the tabStrip must have the same value as match the bottom padding of the tab or else it won't align properly */
  padding: 0em 0em .3em 0em;
}
.tabContainer .tabStrip .tab {
  margin: 0em;
  padding: .3em .5em .3em .5em;
  border: 1px solid var(--col-border);
  border-radius: 1em 1em 0em 0em;
}
.tabContainer .tabStrip .tab:hover {
  color: var(--col-tab-hover);
  cursor:default;
}
.tabContainer .tabStrip .selected {
  background-color: var(--col-selectedTab);
}
.tabContents {
  border: .5px solid var(--col-border);
}

/* This section is for sectioning a web page */
.theHeader { grid-area: header2; }
.theMenu { grid-area: menu2; }
.theMain { grid-area: main2; }
.theRight { grid-area: right2; }
.theFooter { grid-area: footer2; }

.mainLayout {
  display: grid;
  grid-template-areas:
    'header2 header2 header2 header2 header2 header2'
    'menu2 main2 main2 main2 right2 right2'
    'menu2 footer2 footer2 footer2 footer2 footer2';
  grid-gap: 3px;
  background-color: var(--col-border);
  padding: 3px;
}

.mainLayout > div {
  background-color: var(--col-background);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.flexbox {
    margin: 0.3em;
    padding: 0.3em;
    border: 1px solid var(--col-border);
    border-radius: 0.3em;
}

.flexbox > div {
    margin: 0.3em;
    padding: 0.3em;
    border: 1px solid var(--col-border);
    border-radius: 0.3em;
}

.flexboxRowNowrap {
    display:flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
}

.flexboxRowWrap {
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
}

.flexboxColumnNowrap {
    display:flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
}

.flexboxJustifyFlexStart {
    display:flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
}

.flexboxJustifyFlexEnd {
    display:flex;
    flex-flow: row nowrap;
    justify-content:flex-end;
    align-items:flex-start;
    align-content:flex-start;
}

.flexboxJustifyCenter {
    display:flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items:flex-start;
    align-content:flex-start;
}

.flexboxJustifySpaceBetween {
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items:flex-start;
    align-content:flex-start;
}

.flexboxJustifySpaceAround {
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items:flex-start;
    align-content:flex-start;
}

.flexboxJustifySpaceEvenly {
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-evenly;
    align-items:flex-start;
    align-content:flex-start;
}

.flexboxAlignItemsFlexStart {
    display:flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
}

.flexboxAlignItemsFlexEnd {
    display:flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    align-items:flex-end;
    align-content:flex-start;
}

.flexboxAlignItemsCenter {
    display:flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    align-items:center;
    align-content:flex-start;
}

.flexboxAlignItemsStretch {
    display:flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    align-items:stretch;
    align-content:flex-start;
}

.flexboxAlignItemsBaseline {
    display:flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    align-items:baseline;
    align-content:flex-start;
}

.flexboxAlignContentPrep {
    display:flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    align-items:stretch;
    align-content:flex-start;
}

.flexboxAlignContentFlexStart {
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
}

.flexboxAlignContentFlexEnd {
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-end;
}

.flexboxAlignContentCenter {
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:center;
}

.flexboxAlignContentStretch {
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:stretch;
}

.flexboxAlignContentSpaceBetween {
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:space-between;
}

.flexboxAlignContentSpaceAround {
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:space-around;
}

.repeatParentSegmented {
	display: grid;
	margin: 1em;
	padding: 1em;
	grid-gap: 0em;
	grid-template-rows: auto;
	grid-template-columns: auto;
	border: 0.5px solid var(--col-border);
}

.repeatParentSegmented > div {
	display: grid;
	margin: 1em;
	padding: 1em;
	grid-gap: 1em;
	grid-template-rows: auto;
	grid-template-columns: auto 1fr auto;
	border: 0.5px solid var(--col-border);
}

.repeatParentSegmented > div > div {
	border: 1px solid var(--col-border);
    margin: 1em;
    padding: 1em;
}

.repeatParent {
	display: grid;
	margin: 1em;
	padding: 1em;
	grid-gap: 0em;
	grid-template-rows: auto;
	grid-template-columns: auto;
	border: .5px solid var(--col-border);
}

.repeatParent > div {
	display: grid;
	margin: 0em;
	padding: 0em 0em 0em 0em;
	grid-gap: 0em;
	grid-template-rows: auto;
	grid-template-columns: auto 1fr auto;
	border: 0px solid var(--col-border);
}

.repeatParent > div > div {
	border: 0px solid var(--col-border);
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
}

.repeatParent > div > div:first-child {
    margin: 0em 1em 0em 0em;
}

.repeatParent > div > div.indent1 {
    margin: 0em 1em 0em 1.5em;
}

.repeatParent > div > div.indent2 {
    margin: 0em 1em 0em 3em;
}

.repeatParent > div > div:last-child {
    margin: 0em 0em 0em 1em;
}

.repeatSvgDot{
    background-image: var(--svg-dot);
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: 10px 10px;
}

.tooltip {
  position: relative;
  border-bottom: 2px dotted var(--col-link);
}

/* Tooltip Box */
.tooltip:before {
  content: attr(data-tooltip);
  position: absolute;
  width: 100px;
  background-color: #505000;
  color: var(--col-foreground);
  text-align: center;
  padding: 10px;
  line-height: 1.2;
  border-radius: 3px;
  border-color: var(--col-border)
  z-index: 1;
  opacity: 0;
  transition: opacity .6s;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  font-size: 0.75em;
  visibility: hidden;
}

/* Tooltip Arrow */
.tooltip:after {
  content: "";
  position: absolute;
  bottom: 75%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  opacity: 0;
  transition: opacity .6s;
  border-color: var(--col-border) transparent transparent transparent;
  visibility: hidden;
}

.tooltip:hover:before, .tooltip:hover:after {
  opacity: 1;
  visibility: visible;
}


.Scrolling {
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.Scrolling > .ScrollSection {
  scroll-snap-align: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #de5448;
  color: #fff;
  font-size: 3em;
}

.Scrolling > .col1 {
  background: #0000FF;
}

.Scrolling > .col2 {
  background: #00AAFF;
}

/* Installation Notes Only */

.unknownValue {
	background-color: var(--col-unknown-background);
}
.installCode {
	font-family: "Hack", Courier, monospace;
	font-size: 1.0em;
}
